/build*
.DS_Store
.clangd
imgui.ini
*.log
.idea
cmake-build-debug
cmake-build-release
cmake-build-release-*
cmake-build-debug-*
compile_commands.json
.vscode/c_cpp_properties.json 
.vscode/settings.json